@-webkit-keyframes bars {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes bars {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -15;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -15;
  }
}

@-webkit-keyframes menuApparition {
  0% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}

@keyframes menuApparition {
  0% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.loading {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: loader 1s;
          animation: loader 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.loading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
  height: 200px;
}

.loading__bar {
  height: 100%;
  width: 25px;
  -webkit-animation: bars 1000ms backwards ease-in-out infinite;
          animation: bars 1000ms backwards ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.loading__bar--1 {
  background-color: #99e2d0;
}

.loading__bar--2 {
  background-color: #ff79da;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loading__bar--3 {
  background-color: #9356dc;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.loading__bar--4 {
  background-color: #ff79da;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.loading__bar--5 {
  background-color: #99e2d0;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.header {
  height: 35px;
  margin-bottom: 15px;
}

.header__logo {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header__logo img {
  max-height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__precedent {
  display: none;
}

.header__precedent--affiche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 10px;
  float: left;
  font-size: 25px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accroche {
  border-top: 2px solid #cfcfcf;
}

.accroche__titre {
  background-color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.accroche__card {
  background-color: #f6f6f6;
  height: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.accroche__slogan {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  margin-left: 10px 0px;
}

.accroche__resume {
  text-align: center;
  font-weight: lighter;
}

.accroche__bouton {
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #ff79da;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  font-size: 16px;
  padding: 10px;
  width: 220px;
  height: 50px;
  outline: 0;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 8px 8px 8px #e7e7e7;
          box-shadow: 8px 8px 8px #e7e7e7;
}

.accroche__bouton:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(to right bottom, #fface8, #ae80e5);
  -webkit-box-shadow: 8px 8px 8px #cacaca;
          box-shadow: 8px 8px 8px #cacaca;
}

.fonctionnement {
  margin-top: 50px;
}

.fonctionnement__titre {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bolder;
}

.fonctionnement__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  height: 270px;
}

@media (min-width: 1200px) {
  .fonctionnement__liste {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.fonctionnement__element {
  -webkit-box-shadow: 8px 8px 8px #e7e7e7;
          box-shadow: 8px 8px 8px #e7e7e7;
  height: 75px;
  width: 90%;
  max-width: 300px;
  margin-left: 30px;
  background-color: #f6f6f6;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.fonctionnement__element i {
  margin-left: 20px;
  color: #ababab;
  font-size: 20px;
}

.fonctionnement__element p {
  margin-left: 20px;
}

.fonctionnement__element--active {
  background-color: #f5edff;
}

.fonctionnement__element--active i {
  color: #9356dc;
}

.fonctionnement__numero {
  margin-left: -15px;
  background-color: #9356dc;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}

.restaurants {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f6f6f6;
}

.restaurants__titre {
  margin-left: 15px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 50px;
}

.restaurants__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .restaurants__liste {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.restaurant {
  -webkit-box-shadow: 8px 8px 8px #e7e7e7;
          box-shadow: 8px 8px 8px #e7e7e7;
  width: 90%;
  border-radius: 15px;
  margin-bottom: 25px;
  position: relative;
}

@media (min-width: 1200px) {
  .restaurant {
    max-width: 300px;
  }
}

.restaurant:hover {
  -webkit-box-shadow: 8px 8px 8px #cacaca;
          box-shadow: 8px 8px 8px #cacaca;
}

.restaurant__img img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__nouveau {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #139273;
  background-color: #55e9c5;
  border-radius: 2px;
  padding: 7px;
}

.restaurant__legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
}

.restaurant__texte {
  font-size: 18px;
}

.restaurant__titre {
  font-weight: bolder;
  padding-bottom: 5px;
}

.restaurant__btn:hover .restaurant__like--off {
  opacity: 0;
}

.page__contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo {
  z-index: 10;
  height: 250px;
}

.photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  margin-top: -30px;
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-bottom: 75px;
  padding-top: 15px;
}

.menu__entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 30px;
}

.menu__titre {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  margin-left: 15px;
}

@media (min-width: 1200px) {
  .menu__liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.menu__btn, .restaurant__btn {
  height: 30px;
  width: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.menu__btn:hover::before, .restaurant__btn:hover::before {
  opacity: 1;
}

.menu__btn::before, .restaurant__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.menu__like, .restaurant__like {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: lighten;
  font-size: 30px;
}

.menu__btn:hover .menu__like--off, .restaurant__btn:hover .menu__like--off {
  opacity: 0;
}

.menu__sous_titre {
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 15px;
}

.menu__ligne {
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-left: 15px;
}

.menu__bouton_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__bouton {
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #ff79da;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  font-size: 16px;
  padding: 10px;
  width: 220px;
  height: 50px;
  outline: 0;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 8px 8px 8px #e7e7e7;
          box-shadow: 8px 8px 8px #e7e7e7;
  margin-top: 35px;
}

.menu__bouton:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(to right bottom, #fface8, #ae80e5);
  -webkit-box-shadow: 8px 8px 8px #cacaca;
          box-shadow: 8px 8px 8px #cacaca;
}

.plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.plat {
  -webkit-box-shadow: 8px 8px 8px #e7e7e7;
          box-shadow: 8px 8px 8px #e7e7e7;
  background-color: white;
  width: 90%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-animation: menuApparition 0.4s ease-in-out;
          animation: menuApparition 0.4s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.plat__texte {
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.plat__titre {
  font-weight: bold;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plat__complement {
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plat__prix {
  margin-left: auto;
  font-weight: bold;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.plat__validation {
  width: 50px;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: -50px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.plat__validation i {
  color: #99e2d0;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.plat:hover .plat__validation {
  margin-right: 0px;
}

.plat:hover i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.plat--delay-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.plat--delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.plat--delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.plat--delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.plat--delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.plat--delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.plat--delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.plat--delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.plat--delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 30px;
}

footer .logo {
  padding: 15px 25px 0px 25px;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}

footer ul {
  list-style-type: none;
  padding-left: 25px;
}

footer li {
  padding-bottom: 5px;
}

footer li a {
  color: white;
}

footer .footer__icone {
  padding-right: 10px;
}

footer .footer__icone .fa-hands-helping {
  font-size: 10.5px;
}
/*# sourceMappingURL=ohmyfood.css.map */