$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-ternary: #99e2d0;
$color-fond-card: #f6f6f6;
$color-nouveau: #139273;

$anim-loading-duration: 1000ms;
$anim-loading-delay: $anim-loading-duration / 5;
