body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0px;
}

p {
    margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  height: 35px;
  margin-bottom: 15px;
  img {
    object-fit: contain;
  }
}

.accroche {
  //display: flex;
  //flex-direction: row;
  border-top: 1px solid #cfcfcf;
  //box-shadow: 0 30px 40px rgba(0,0,0,.1);
  &__header {
    background-color: #eaeaea;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }
  &__card {
    background-color: #f6f6f6;
    height: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__slogan {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-left: 10px 0px;
  }
  &__resume {
    text-align: center;
    font-weight: lighter;
  }
  &__bouton {
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #ff79da;
    background: linear-gradient(to right bottom, #ff79da, #9356dc);
    font-size: 16px;
    padding: 10px;
    width: 220px;
    height: 50px;
    outline: 0;
    border: none;
    border-radius: 25px;
  }
}
.fonctionnement {
  margin-top: 50px;
  &__header {
    margin-left: 15px;
    font-size: 30px;
    font-weight: bolder;
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    height: 270px;
  }
  &__item {
    height: 75px;
    width: 90%;
    margin-left: 30px;
    background-color: #f6f6f6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 8px 8px 8px #e7e7e7;
    font-size: 18px;
    font-weight: bold;
    i {
      margin-left: 20px;
      color: #ababab;
      font-size: 20px;
    }
    p {
      margin-left: 20px;
    }
    &--active {
      background-color: #f5edff;
      i {
        color: #9356dc;
      }
    }
  }
  &__numero {
    margin-left: -15px;
    background-color: #9356dc;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
.restaurants {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f6f6f6;
  &__header {
    margin-left: 15px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 50px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.restaurant {
  width: 90%;
  border-radius: 15px;
  box-shadow: 8px 8px 8px #e7e7e7;
  margin-bottom: 25px;
  &__img {
    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
  &__legende {
      display: flex;
      flex-direction: row;
      margin: 15px;
  }
  &__texte {
      font-size: 18px;
  }
  &__titre {
      font-weight: bolder;
      padding-bottom: 5px;
  }
  &__like {
      margin-left: auto;
      font-size: 30px;
      cursor: pointer;
  }
  &__like--active {
      //
  }
}
footer {
    background-color: #353535;
    color: white;
    padding-bottom: 30px;
    .logo {
        padding: 15px 25px 0px 25px;
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
    }
    ul {
        list-style-type: none;
        padding-left: 25px;
    }
    li {
        padding-bottom: 5px;
    }
}