$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-ternary: #99e2d0;
$color-fond-card: #f6f6f6;

$anim-loading-duration: 1000ms;
$anim-loading-delay: $anim-loading-duration / 5;

@mixin ombre {
  box-shadow: 8px 8px 8px #e7e7e7;
}

@mixin bouton {
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: $color-secondary;
  background: linear-gradient(
    to right bottom,
    $color-secondary,
    $color-primary
  );
  font-size: 16px;
  padding: 10px;
  width: 220px;
  height: 50px;
  outline: 0;
  border: none;
  border-radius: 25px;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -15;
  }
}

@keyframes menuApparition {
  0% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.loading {
  background-color: rgba(#fff, $alpha: 0.8);
  animation: loader 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__container {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
  }
  &__bar {
    height: 100%;
    width: 25px;
    animation: bars $anim-loading-duration backwards ease-in-out infinite;
    animation-direction: alternate;
    &--1 {
      background-color: $color-ternary;
    }
    &--2 {
      background-color: $color-secondary;
      animation-delay: $anim-loading-delay;
    }
    &--3 {
      background-color: $color-primary;
      animation-delay: $anim-loading-delay * 2;
    }
    &--4 {
      background-color: $color-secondary;
      animation-delay: $anim-loading-delay * 3;
    }
    &--5 {
      background-color: $color-ternary;
      animation-delay: $anim-loading-delay * 4;
    }
  }
}

.header {
  height: 35px;
  margin-bottom: 15px;
  &__logo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img {
      max-height: 35px;
      object-fit: contain;
    }
  }
  &__precedent {
    display: none;
    &--affiche {
      display: flex;
      margin-right: auto;
      margin-left: 10px;
      float: left;
      font-size: 25px;
      height: 100%;
      align-items: center;
    }
  }
}

.accroche {
  border-top: 2px solid #cfcfcf;
  &__titre {
    background-color: #eaeaea;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }
  &__card {
    background-color: $color-fond-card;
    height: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__slogan {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-left: 10px 0px;
  }
  &__resume {
    text-align: center;
    font-weight: lighter;
  }
  &__bouton {
    @include bouton();
  }
}
.fonctionnement {
  margin-top: 50px;
  &__titre {
    margin-left: 15px;
    font-size: 30px;
    font-weight: bolder;
  }
  &__liste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    height: 270px;
  }
  &__element {
    @include ombre();
    height: 75px;
    width: 90%;
    margin-left: 30px;
    background-color: $color-fond-card;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    i {
      margin-left: 20px;
      color: #ababab;
      font-size: 20px;
    }
    p {
      margin-left: 20px;
    }
    &--active {
      background-color: #f5edff;
      i {
        color: $color-primary;
      }
    }
  }
  &__numero {
    margin-left: -15px;
    background-color: $color-primary;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
  }
}
.restaurants {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: $color-fond-card;
  &__titre {
    margin-left: 15px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 50px;
  }
  &__liste {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.restaurant {
  @include ombre();
  width: 90%;
  border-radius: 15px;
  margin-bottom: 25px;
  &__img {
    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
  &__legende {
    display: flex;
    flex-direction: row;
    margin: 15px;
  }
  &__texte {
    font-size: 18px;
  }
  &__titre {
    font-weight: bolder;
    padding-bottom: 5px;
  }
  &__like {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: 30px;
    cursor: pointer;
  }
}

.page__contenu {
  display: flex;
  flex-direction: column;
}

.photo {
  z-index: 10;
  height: 250px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  z-index: 100;
  margin-top: -30px;
  background-color: $color-fond-card;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-bottom: 75px;
  padding-top: 15px;
  &__titre {
    font-family: "Shrikhand", cursive;
    font-size: 25px;
    margin-left: 15px;
  }
  &__sous_titre {
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 15px;
  }
  &__ligne {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid $color-ternary;
    width: 40px;
    margin-left: 15px;
  }
  &__bouton_container {
    display: flex;
    justify-content: center;
  }
  &__bouton {
    @include bouton();
    margin-top: 35px;
  }
}

.plats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plat {
  @include ombre();
  background-color: white;
  width: 90%;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
  &__texte {
    padding: 10px;
    overflow: hidden;
    white-space:nowrap
  }
  &__titre {
    font-weight: bold;
    padding-bottom: 5px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis
  }
  &__complement {
    font-size: small;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
  &__prix {
    margin-left: auto;
    font-weight: bold;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  &__validation {
    width: 50px;
    background-color: $color-ternary;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    i {
      color: $color-ternary;
      background-color: white;
      border-radius: 50%;
      padding: 2px;
      transform: rotate(180deg);
      transition-duration: 1s;
    }
    margin-right: -50px;
    transition-duration: 1s;
  }
  &:hover &__validation {
    margin-right: 0px;
  }
  &:hover i {
    transform: rotate(0);
  }
  animation: menuApparition 0.4s ease-in-out;
  @for $i from 0 to 9 {
    &--delay-#{$i} {
      animation-delay: #{$i/10}s;
    }
  }
  transform: scaleX(0);
  animation-fill-mode: forwards;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 30px;
  .logo {
    padding: 15px 25px 0px 25px;
    font-family: "Shrikhand", cursive;
    font-size: 20px;
  }
  ul {
    list-style-type: none;
    padding-left: 25px;
  }
  li {
    padding-bottom: 5px;
    a {
      color: white;
    }
  }
  .footer__icone {
    padding-right: 10px;
    .fa-hands-helping {
      font-size: 10.5px;
    }
  }
}
